.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
}

.contanier {
    width: 10%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#edit {
    color: rgb(205, 228, 0)
}

#delete {
    color: rgb(233, 92, 92)
}