<h1> Cadastro de Vendedores</h1>

<mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="vendedor.nome" matInput placeholder="Nome">
</mat-form-field>


<mat-form-field class="full-width">
    <mat-label>Matricula</mat-label>
    <input [(ngModel)]="vendedor.matricula" matInput placeholder="00000">
</mat-form-field>


<mat-form-field class="full-width">
    <mat-label>E-Mail</mat-label>
    <input [(ngModel)]="vendedor.email" matInput placeholder="E-mail">
</mat-form-field>



<mat-form-field class="full-width">
    <mat-label>Telefone</mat-label>
    <input [(ngModel)]="vendedor.telefone" matInput placeholder="Telefone">
</mat-form-field>


<button (click)="create()" mat-stroked-button color="accent">Salvar</button>
<button (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>