.footer {
    height: 7%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: rgb(141, 139, 139);
    margin: 0;
    font-size: 1rem;
    border-radius: 1px rgb(68, 67, 67);
    padding: 0 8%;
    border-radius: 20px;
}